body
{
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-grey
{
  position: relative;
  width: 1270px;
  height: 850px;
  margin: auto;
  top: 20px;
  border-radius: 30px;
  background: rgba(3, 2, 2, 0.43);
}

.container
{
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h2
{
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(33, 214, 5);
}


header
{
  text-align: center;
}

.logo
{
  width: 200px;
}

nav
{
  background-color: rgb(33, 214, 5);
  text-align: center;
  height: 50px;
  position: relative;
}

.button
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.monopattino
{
  margin-top: 20px;
}

.monopattino h3, p
{
  color: white;
  font-family: sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

.carica-Gino
{
  height: 20px;
  width: 350px;
  background-color: rgb(214, 154, 2);
  border-radius: 5px;
}

.carica-Mike
{
  height: 20px;
  width: 650px;
  background-color: rgb(33, 214, 5);
  border-radius: 5px;
}

.carica-Fede
{
  height: 20px;
  width: 120px;
  background-color: rgba(180, 37, 37, 0.93);
  border-radius: 5px;
}
